<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GoToHome()" slot="end">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Visites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let item of visites; let i = index">
    <ion-item>
      <ion-label text-wrap>
        <h3>Id ZP : {{ item.id_base_site }}</h3>
        <p>Nb maille(s) visitée(s) : {{ item.cor_visit_grid.length }}</p>
        <p>Nb perturbation(s) : {{ item.cor_visit_perturbation.length }}</p>
        <p>Nb observateur(s) : {{ item.cor_visit_observer.length }}</p>
        <p>Commentaire : {{ item.comments }}</p>
        <ion-button (click)="watch(i)">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="send(i)">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
