<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="GoToHome()" slot="end">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Visites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let item of visites">
      <ion-item>
        <ion-label text-wrap>
          <h3>Id ZP : {{item.id_base_site}}</h3>
          <p>Nb mailles visité : {{item.cor_visit_grid.length}}</p>
          <p>Nb perturbation : {{item.cor_visit_perturbation.length}}</p>
          <p>Nb observateurs : {{item.observers.length}}</p>
          <p>Commentaires : {{item.comments}}</p>

        </ion-label>
        <ion-button (click)="watch(item.id_base_site)"><ion-icon name="eye"></ion-icon></ion-button>
        <ion-button (click)="delete(item.id_base_site)"><ion-icon name="trash"></ion-icon></ion-button>			
      </ion-item>
    </ion-list>
</ion-content>
