<ion-header>
  <ion-toolbar>
	<ion-title>Nouvelle Visite /!\ WIP /!\</ion-title>
	<ion-buttons slot="end">
		<ion-spinner id="affichChargement" hidden></ion-spinner>
		<ion-button (click)="reload()" slot="end">
		  <ion-icon name="refresh"></ion-icon>
		</ion-button>
		<ion-button (click)="toggleAffichage()" slot="end">
		  <ion-icon name="apps"></ion-icon>
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="affichage"
	style="
	display: none;
	z-index: 3000; 
	position: absolute; 
	top: 0; left: 25%; 
	bottom: 0; 
	right: 0;
	">
		<ion-item>
			<ion-label>
				<h3>Zones de prospection</h3>
				<p>placehoder nombre</p>
			</ion-label>
		</ion-item>			
		<ion-item>
			<ion-label>
			<h3>Espèce propectée</h3>
			<p>placeholder</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Date de visite:</ion-label>
			<ion-input type="date"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Observateur(s)</ion-label>
				<ion-select multiple="true">
				<ion-select-option value="1">obs 1</ion-select-option>
				<ion-select-option value="2">obs 2</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Perturabtion(s)</ion-label>
			<ion-select multiple="true">
				<ion-select-option value="1">prt 1</ion-select-option>
				<ion-select-option value="2">prt 2</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Commentaires</ion-label>
			<ion-textarea position="floating"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label>
				<h3>Maille(s) de présence</h3>
				<p>placehoder nombre</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<h3>Maille(s) d'absence</h3>
				<p>placehoder nombre</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<h3>Maille(s) non visitée(s)</h3>
				<p>placehoder nombre</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-button (click)="CancelVisit()" color="danger">Annuler</ion-button>
			<ion-button color="success">Valider</ion-button>
			<ion-button>	Click me</ion-button>
		</ion-item>
	</div>

	<div id="mapVisit" style="width:100%; height:100%; position: relative;"></div>
</ion-content>
