<ion-header>
	<ion-toolbar >
	  	<ion-buttons slot="start">
		  <ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Paramètres</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
			<ion-label><strong>Paramètres de cartes</strong></ion-label>
		</ion-list-header>
		<ion-item-group>
			<ion-item-divider>
				<ion-label>Coordonnées hors ligne</ion-label>
			</ion-item-divider>
			<ion-item>
				<ion-label position="stacked">latitude:</ion-label>
				<ion-input type="number" value="{{latitude}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">longitude:</ion-label>
				<ion-input type="number" value="{{longitude}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-button>centrer par rapport a ici</ion-button>
			</ion-item>
		</ion-item-group>
		<ion-list-header>
			<ion-label><strong>API utilisée</strong></ion-label>
		</ion-list-header>
		<ion-item>
			<ion-label position="stacked">URL:</ion-label>
			<ion-input type="url" value="{{Api_URL}}"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">dossier:</ion-label>
			<ion-input type="texte" value="{{Api_Dir}}"></ion-input>
		</ion-item>
		<ion-button (click)="test()">
			Click me
		</ion-button>
		<ion-list-header>
			<ion-label><strong>A propos</strong></ion-label>
		</ion-list-header>
		<ion-item>
			<ion-label>
			<h3>Version de l'application</h3>
			<p>placeholder version</p>
			<p>placeholder date</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
