<ion-header>
	<ion-toolbar >
	  	<ion-buttons slot="start">
		  <ion-back-button></ion-back-button>
		</ion-buttons>
    	<ion-title>Setting</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
			<ion-label><strong>OBSERVERS</strong></ion-label>
		</ion-list-header>
		<ion-item button (click)="goToObserver()">
			<ion-label>
			<h3>Default observer</h3>
			<p>Placehoder observer</p>
			</ion-label>
		</ion-item>
		<ion-list-header>
			<ion-label><strong>POINTING</strong></ion-label>
		</ion-list-header>
		<ion-item button (click)="CpaFai()">
			<ion-label>Display the map scale</ion-label>
			 <ion-checkbox slot="end" checked></ion-checkbox>
		</ion-item>
		<ion-list-header>
			<ion-label><strong>About</strong></ion-label>
		</ion-list-header>
		<ion-item>
			<ion-label>
			<h3>App version</h3>
			<p>placeholder version</p>
			<p>placeholder date</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
