<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
				<ion-button (click)="GoToHome()" slot="end">
					<ion-icon name="arrow-back"></ion-icon>
				</ion-button>
		</ion-buttons>
		<ion-title>Prospection</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="reload()" slot="end">
				<ion-icon name="refresh"></ion-icon>
			</ion-button>
			<ion-menu-button menu="VisuTaxon"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="mapProspec" style="width:100; height:100%;"></div>
</ion-content>




