<ion-header>
  <ion-toolbar>
  	<ion-button shape="round" slot="start" (click)="retourArriere()">
		<ion-icon name="arrow-back"></ion-icon>
	</ion-button>
    <ion-title id="title">Observers</ion-title>
    <ion-button id="srchbtn" animated="true" shape="round" slot="end" (click)="showSearchBar()">
		<ion-icon name="search"></ion-icon>
	</ion-button>
    <ion-searchbar ionBlur="hideSearchBar()" id="srchbar" hidden></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
