<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <strong>Flora</strong>
    </ion-title>
    <ion-button size="small" shape="round" slot="end">
    	<ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
			<ion-label><strong>DEVICE STATUS</strong></ion-label>
		</ion-list-header>
		<ion-item>
			<ion-label>
			<h3>Last synchronization</h3>
			<p class="descripteur">Never</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
			<h3>Input not synchronized</h3>
			<p class="descripteur">0</p>
			</ion-label>
		</ion-item>
	</ion-list>
  	<ion-button color="medium" expand="block"><strong>Start synchronization</strong></ion-button>
</ion-content>

<ion-footer>
	<ion-button color="medium" expand="block"><strong>Start input</strong></ion-button>
</ion-footer>
