<ion-header>
  <ion-toolbar>
    <ion-title>Flora</ion-title>
    <ion-button size="small" shape="round" slot="end" (click)="goToSetting()">
    	<ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item-group>
		<ion-item-divider><strong>DEVICE STATUS</strong></ion-item-divider>
		<ion-item>
			<ion-label>
				<h3>Last synchronization</h3>
				<p>Placeholder date</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<h3>Input not synchronized</h3>
				<p>Placeholder Number</p>
			</ion-label>
		</ion-item>
	</ion-item-group>
  	<ion-button color="medium" expand="block" (click)="goToSync()"><strong>Start synchronization</strong></ion-button>
</ion-content>

<ion-footer>
	<ion-button color="medium" expand="block"><strong>Start input</strong></ion-button>
</ion-footer>
