<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GoBack()" slot="end">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-label>
    <h2><strong>{{objet.properties.nom_commune}}</strong></h2>
    <h3>{{objet.properties.nom_taxon}}</h3>
  </ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="reload()" slot="end">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapVisio" style="width:100; height:100%;"></div>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="GoToNewVisit()">
    Commencer la visite
  </ion-button>
</ion-footer>